* {
  margin: auto;
  padding: auto;
}
.header-container {
  background-color: whitesmoke;
  display: flex;
}
.header-main-menu {
  background-color: whitesmoke;
  display: flex;
}
.menu-link {
  padding: 45px 15px;
  color: #1f2278;
  font-size: 16px;
  padding: 45px 20px;
  cursor: pointer;
  font-weight: 600;
  display: inline-block;
  position: relative;
  border-width: 0 0 0 1px;
  line-height: 1;
}
